{% extends 'base.html'%}

{% block title %} Estoque {% endblock %}

{% block content %}

<h3>Escritorio</h3>
<table id="tab-escritorio">
    <thead>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Validade</th>
    </thead>
    <tbody>
        {% for item in escritorio %}
        <tr>
            <td> {{item.produto.nome}} </td>
            <td> {{item.quantidade}} </td>
            <td> {{item.data_ptbr()}} </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

<h3>Almoxarifado</h3>
<table id="tab-almoxarifado">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Validade</th>
        </tr>
    </thead>
    <tbody>
 {% for item in almoxarifado %}
        <tr>
            <td> {{item.produto.nome}} </td>
            <td> {{item.quantidade}} </td>
            <td> {{item.data_ptbr()}} </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

<h3>Despensa</h3>
<table id="tab-despensa">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Validade</th>
        </tr>
    </thead>
    <tbody>
 {% for item in despensa %}
        <tr>
            <td> {{item.produto.nome}} </td>
            <td> {{item.quantidade}} </td>
            <td> {{item.data_ptbr()}} </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}