{% extends 'base.html' %}

{% block title %} Saida de Material {% endblock %}

{% block content %}

<h3> Saída de Materiais </h3>
<div>

    <form action="" method="post">
        Categoria: <br>
        <select name="categoria" id="categoria" required>
            <option value="" selected disabled> -- Selecione uma Categoria --</option>
            <option value="ESCRITORIO"> Escritorio </option>
            <option value="ALMOXARIFADO"> Almoxarifado </option>
            <option value="DESPENSA"> Despensa </option>
        </select><br>

        <select id="select_produto">
            <option value="" selected disabled> -- Selecione um produto -- </option>
            <!-- Inserção por JS ou Jinja -->
        </select><br>

        Quantidade: <input type="number" name="quantidade" id="quantidade" max="0" min="0"><br>
        <input type="submit" value="Adicionar">
    </form>

    <h3> Itens </h3>
    
    Responsável:
    <input type="text" name="resp" id="resp" required><br>
    <table>
        <thead>
            <tr>
                <td>Itens</td>
                <td>Quantidade</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            <!-- Inserção pelo Jinja (session) -->
        </tbody>
    </table>
    </form>
</div>

<h3> Histórico de Saídas </h3>
<table>
    <thead>
        <th>Responsável</th>
        <th>Listar itens</th>
        <th>Ações</th>
    </thead>
    <!-- Jinja -->
    <tbody>

    </tbody>
</table>

<script src={{url_for('static', filename='js/saida.js' )}}></script>


{% endblock %}